:local {
  .header {
    margin: 5vh 0 10px;
    text-align: center;
  }

  .logo {
    width: 100px;
    border-radius: 15px;
  }

  .container {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    padding-left: 45px;
  }

  .instructionContainer {
    width: 100%;
    margin-left: -25px;
  }
}